<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="static/style.css" />
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <script src="static/script.js"></script>

        <title>LTF | Local Transfer Files</title>
    </head>
    <body>
        <h1>LTF</h1>

        <form enctype="multipart/form-data" action="/uploads" method="POST">
            <div class="wrapper">
                <label for="files" class="drop-container" id="dropcontainer">
                    <span class="drop-title _font">Drop files here</span>
                    <span class="or _font">or</span>
                    <input type="file" id="files" name="files" class="_font"required>
                    <div id="status"></div>
                </label>
                <progress id="progress-bar" value="0" max="100"></progress>
                <input type="submit" class="btn _font" value="Upload">
            </div>
        </form>

        <h1>Files</h1>
        <ul id="recent-uploads">
            {{- range .Uploads }}
            <li data-filename="{{ . }}" class="element">
                <a href="/uploads/{{ . }}">{{ . }}</a>
                <div class="buttons">
                    <button title="Delete file" class="danger icon delete" data-filename="{{ . }}">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                </div>
            </li>
            {{ end -}}
        </ul>

        <script>
            const files = document.getElementsByClassName("delete");
            console.log(files);
            for (let i = 0; i < files.length; i++) {
                const element = files[i];
                element.addEventListener('click', () => {
                    fetch(`/uploads/${element.dataset.filename}`, { method: 'DELETE' }).then(response => {
                        if (response.ok) {
                            alert("ok");
                        }
                    })
                }, false)
            }
            
        </script>

    </body>
</html>
